<!-- Template do SidebarMenuComponent -->
<aside
  class="h-full"
  [ngClass]="{ 'w-[3.5rem] overflow-hidden': collapsed, 'w-[15rem]': !collapsed }"
  aria-label="Menu lateral"
>
  <p-menu [model]="menuModel" [styleClass]="'h-full rounded-md '" [style]="{ width: '100%' }">
    <!-- Cabeçalho menu -->
    <ng-template #start>
      <div class="flex items-center justify-between w-full p-2" aria-label="Cabeçalho do menu">
        @if (!collapsed) {
        <span>{{ 'MENU.HEADER' | translate }}</span>
        }
        <p-button
          [icon]="collapsed ? 'pi pi-chevron-right' : 'pi pi-chevron-left'"
          variant="text"
          aria-label="Alternar menu lateral"
          (click)="onToggle()"
        ></p-button>
      </div>
    </ng-template>

    <ng-template #submenuheader let-item>
      @if (!collapsed) {
      <span>{{ item.label | translate }}</span>
      }
    </ng-template>

    <!-- Menu itens -->
    <ng-template #item let-item>
      <a
        pRipple
        [routerLink]="item.routerLink"
        class="flex items-center p-menu-item-link"
        [ngClass]="collapsed ? 'justify-center px-2' : 'px-2'"
        [pTooltip]="item.label | translate"
        [tooltipDisabled]="!collapsed"
        tooltipPosition="top"
        [attr.aria-label]="collapsed ? (item.label | translate) : null"
      >
        <span [class]="item.icon" aria-hidden="true"></span>
        @if (!collapsed) {
        <span class="ml-2">{{ item.label | translate }}</span>
        } @if (item.badge && !collapsed) {
        <p-badge class="ml-auto" [value]="item.badge" />
        } @if (item.shortcut && !collapsed) {
        <span>
          {{ item.shortcut }}
        </span>
        }
      </a>
    </ng-template>

    <!-- avatar com foto do usuário -->
    <ng-template #end>
      @if (!collapsed) {
      <p-button
        variant="text"
        pRipple
        class="relative overflow-hidden w-full flex items-start p-2 pl-4 hover:bg-surface-100 dark:hover:bg-surface-800 rounded-none cursor-pointer transition-colors duration-200"
        aria-label="Perfil"
      >
        <p-avatar
          image="https://primefaces.org/cdn/primeng/images/demo/avatar/amyelsner.png"
          class="mr-2"
          shape="circle"
        />
        <span class="inline-flex flex-col items-start">
          <span>Amy Elsner</span>
          <span class="text-sm text-muted-color">Admin</span>
        </span>
      </p-button>
      }
    </ng-template>
  </p-menu>
</aside>
