<app-dialog
  [(visible)]="visible"
  [header]="'TITHE_MANAGEMENT.PAYMENTS_LIST' | translate"
  icon="pi pi-chart-line"
  [showFooter]="false"
  width="90vw"
  maxWidth="1200px"
>
  <div >
    @if (payments().length > 0) {
      @if (chartData(); as data) {
        <app-stacked-bar-chart
          [series]="data.series"
          [labels]="data.labels"
          [groups]="data.years"
        />
      }
    } @else {
      <div class="flex flex-col items-center justify-center p-12 text-surface-500 gap-3">
        <i class="pi pi-chart-line text-5xl opacity-20"></i>
        <span>{{ 'EXPENSE_CHARTS.NO_DATA' | translate }}</span>
      </div>
    }
  </div>
</app-dialog>
