<div class="flex items-center justify-between overflow-x-auto overflow-y-hidden">
  <!-- Relatório de Registros Customizado -->
  <span class="pl-1 text-xs">
    {{ first + 1 }}-{{ first + rows > totalRecords ? totalRecords : first + rows }} de
    {{ totalRecords }}
  </span>

  <!-- Paginador PrimeNG -->
  <p-paginator
    [first]="first"
    [rows]="rows"
    [totalRecords]="totalRecords"
    [pageLinkSize]="pageLinkSize"
    [rowsPerPageOptions]="rowsPerPageOptions"
    [showCurrentPageReport]="false"
    (onPageChange)="onPageChange.emit($event)"
    appendTo="body"
    class="!py-1 !pr-1 min-w-max text-xs"
  />
</div>
